{{ define "main" }}
<article>
  <header class="mb-16">
    <h1 class="!my-0 pb-2.5">{{ .Title }}</h1>

    {{ if ne .Type "page" }}
    <div class="text-sm antialiased opacity-60">
      {{ if .Date }}
      <time>{{ .Date | time.Format ":date_medium" }}</time>
      {{ end }}<!---->
      -
      <span>
        {{ range .Param "authors" }} {{ $name := . }} {{ $path := printf "/%s/%s" "authors" ($name | urlize) }} {{ with $.Site.GetPage $path
        }}
        <span>{{ .Params.name }}</span>
        {{ end }} {{ end }}
      </span>
    </div>
    {{ end }}
  </header>

  {{ if .Params.theme }}
  <link rel="stylesheet" type="text/css" href="/themes/{{.Params.theme}}.css" />
  {{ else }}
  <link rel="stylesheet" type="text/css" href="/themes/puzzmo-light.css" />
  {{ end }}

<section>
  {{ .Content | replaceRE "(<h[1-6] id=\"(.+)\".*>)(.*)(</h[1-6]>)" `${1}${3}<a href="#${2}" class="hanchor" ariaLabel="Heading anchor">#</a>${4}` | safeHTML }}
</section>

{{ partial "bsky-comments.html" . }}


  <!-- Post Tags -->
  {{ if .Params.tags }}
  <footer class="mt-12 flex flex-wrap">
    {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
    <a class="mb-1.5 mr-1.5 rounded-lg bg-black/[3%] px-5 py-1.5 no-underline dark:bg-white/[8%]" href="{{ $href }}">{{ . }}</a>
    {{ end }}
  </footer>
  {{ end }}

  <!-- Post Nav -->
  {{ if not site.Params.disablePostNavigation }}<!---->
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
  {{ if and (gt (len $pages) 1) (in $pages . ) }}
  <nav class="mt-24 flex rounded-lg bg-black/[3%] text-lg dark:bg-white/[8%]">
    {{ with $pages.Next . }}
    <a
      class="flex w-1/2 items-center rounded-l-md p-6 pr-3 font-semibold no-underline hover:bg-black/[2%] dark:hover:bg-white/[3%]"
      href="{{ .Permalink }}"
      ><span class="mr-1.5">←</span><span>{{ .Name }}</span></a
    >
    {{ end }}<!---->
    {{ with $pages.Prev . }}
    <a
      class="ml-auto flex w-1/2 items-center justify-end rounded-r-md p-6 pl-3 font-semibold no-underline hover:bg-black/[2%] dark:hover:bg-white/[3%]"
      href="{{ .Permalink }}"
      ><span>{{ .Name }}</span><span class="ml-1.5">→</span></a
    >
    {{ end }}
  </nav>
  {{ end }}<!---->
  {{ end }}

</article>


{{- if .Params.series -}}
<div class="post-series-bottom">{{ partial "series.html" . }}</div>
{{- end -}}
{{ end }}

