:root {
--theme-name: Console (beta);
--theme-type: dark;
--theme-key: #957df9;
--theme-keyFG: #000000;
--theme-keyStrong: #590FF5;
--theme-keyLight: #590FF5;
--theme-subBrand: #FFC000;
--theme-subBrandFG: #000000;
--theme-g_key: #FFFF00;
--theme-player: #ffffff;
--theme-playerFG: #000000;
--theme-playerLight: #9EDDFF;
--theme-alt1: #590ff5;
--theme-alt2: #00e200;
--theme-alt3: #ff8a02;
--theme-fg: #00e200;
--theme-error: #FF3C3C;
--theme-alwaysDark: #1B1D29;
--theme-alwaysLight: #00e200;
--theme-g_bg: #101428;
--theme-g_bgAlt: #101428;
--theme-g_bgDark: #00e200;
--theme-g_textDark: #00e200;
--theme-g_textLight: #590ff5;
--theme-g_blank: #00e200;
--theme-g_unsolved: #0000ff;
--theme-g_outline: #00e200;
--theme-a_bg: #000000;
--theme-a_bgAlt: #112211;
--theme-a_puzmo: #ffffff;
--theme-a_headerText: #00e200;
--theme-a_table: #000000;
--theme-a_tableAlt: #002200;
--theme-a_inlineTag: #D9D9D9;
--theme-a_anchor: #957df9;
--theme-a_infoBG: #001900;
}