:root {
--theme-name: Bright white;
--theme-type: light;
--theme-key: #67ced2;
--theme-keyFG: #000000;
--theme-keyStrong: #26a0a5;
--theme-keyLight: #ade6e9;
--theme-g_key: #67ced2;
--theme-subBrand: #FFC000;
--theme-subBrandFG: #000000;
--theme-player: #5DBAFC;
--theme-playerFG: #000000;
--theme-playerLight: #9EDDFF;
--theme-alt1: #d26767;
--theme-alt2: #fac16c;
--theme-alt3: #7580bd;
--theme-fg: #000000;
--theme-error: #FF3C3C;
--theme-alwaysDark: #111111;
--theme-alwaysLight: #FFFFFF;
--theme-g_bg: #f6f6f6;
--theme-g_bgAlt: #F4F4F4;
--theme-g_bgDark: #D6D6D6;
--theme-g_textDark: #1B1B28;
--theme-g_textLight: #FFFFFF;
--theme-g_blank: #000000;
--theme-g_unsolved: #C2C2C2;
--theme-g_outline: #1B1D29;
--theme-a_bg: #FFFFFF;
--theme-a_bgAlt: #f8fbfc;
--theme-a_puzmo: #FFC000;
--theme-a_headerText: #000000;
--theme-a_table: #EDEDED;
--theme-a_tableAlt: #DBDBDB;
--theme-a_inlineTag: #D9D9D9;
--theme-a_anchor: #1F97EE;
--theme-a_infoBG: #f6f6f6;
}