:root {
--theme-name: Foshay;
--theme-type: light;
--theme-key: #A4D379;
--theme-keyFG: #313540;
--theme-keyStrong: #94BF6D;
--theme-keyLight: #B2E583;
--theme-g_key: #A4D379;
--theme-player: #56C9E9;
--theme-subBrand: #FFC000;
--theme-subBrandFG: #000000;
--theme-playerFG: #292B35;
--theme-playerLight: #A8B5D6;
--theme-alt1: #98B389;
--theme-alt2: #FAC16C;
--theme-alt3: #D298FF;
--theme-error: #FF3C3C;
--theme-fg: #292B35;
--theme-alwaysDark: #292B35;
--theme-alwaysLight: #D1DBF2;
--theme-g_bg: #949EBA;
--theme-g_bgAlt: #8891AB;
--theme-g_bgDark: #7B839B;
--theme-g_textDark: #292B35;
--theme-g_textLight: #FFFFFF;
--theme-g_blank: #292B35;
--theme-g_unsolved: #B6B7BA;
--theme-g_outline: #676F83;
--theme-a_bg: #828CA3;
--theme-a_bgAlt: #7F889F;
--theme-a_puzmo: #FFC000;
--theme-a_headerText: #292B35;
--theme-a_table: #7A8399;
--theme-a_tableAlt: #767E94;
--theme-a_inlineTag: #ECECEC;
--theme-a_anchor: #56C9E9;
--theme-a_infoBG: #767F95;
}