:root {
--theme-name: Hot Dog (beta);
--theme-type: light;
--theme-key: #FFFF00;
--theme-keyFG: #000000;
--theme-keyStrong: #FFE600;
--theme-keyLight: #FFEC44;
--theme-g_key: #FFFF00;
--theme-subBrand: #FFC000;
--theme-subBrandFG: #000000;
--theme-player: #FF7A00;
--theme-playerFG: #000000;
--theme-playerLight: #FFA450;
--theme-alt1: #3ABC5E;
--theme-alt2: #5C3ABC;
--theme-alt3: #BC3AAF;
--theme-fg: #000000;
--theme-error: #FF3C3C;
--theme-alwaysDark: #1B1D29;
--theme-alwaysLight: #FFFFFF;
--theme-g_bg: #EBFF00;
--theme-g_bgAlt: #EBEBEB;
--theme-g_bgDark: #D6D6D6;
--theme-g_textDark: #1B1B28;
--theme-g_textLight: #FFFFFF;
--theme-g_blank: #000000;
--theme-g_unsolved: #C2C2C2;
--theme-g_outline: #1B1D29;
--theme-a_bg: #FF0000;
--theme-a_bgAlt: #E50000;
--theme-a_puzmo: #FFC000;
--theme-a_headerText: #FFFFFF;
--theme-a_table: #E50000;
--theme-a_tableAlt: #FF2525;
--theme-a_inlineTag: #000000;
--theme-a_anchor: #000000;
--theme-a_infoBG: #C6C6C6;
}