:root {
--theme-name: "Outlook Hayesy (beta)";
--theme-type: "light";
--theme-key: "#DAB98C";
--theme-keyFG: "#000000";
--theme-keyStrong: "#B99368";
--theme-keyLight: "#DAB98C";
--theme-subBrand: "#FFC000";
--theme-subBrandFG: "#000000";
--theme-g_key: "#DAB98C";
--theme-player: "#5DBAFC";
--theme-playerFG: "#000000";
--theme-playerLight: "#9EDDFF";
--theme-alt1: "#5EC386";
--theme-alt2: "#5E93C3";
--theme-alt3: "#C35E5E";
--theme-fg: "#000000";
--theme-error: "#FF3C3C";
--theme-alwaysDark: "#5E390F";
--theme-alwaysLight: "#FFF3E4";
--theme-g_bg: "#FFFFFF";
--theme-g_bgAlt: "#EBEBEB";
--theme-g_bgDark: "#D6D6D6";
--theme-g_textDark: "#1B1B28";
--theme-g_textLight: "#FFFFFF";
--theme-g_blank: "#000000";
--theme-g_unsolved: "#C2C2C2";
--theme-g_outline: "#1B1D29";
--theme-a_bg: "#FEF5E8";
--theme-a_bgAlt: "#ffffff";
--theme-a_puzmo: "#FAC7CE";
--theme-a_headerText: "#000000";
--theme-a_table: "#FAE8D3";
--theme-a_tableAlt: "#EED7BC";
--theme-a_inlineTag: "#D9D9D9";
--theme-a_anchor: "#B99368";
--theme-a_infoBG: "#FFFFFF";
}