:root {
--theme-name: Puzzmo (dark);
--theme-type: dark;
--theme-key: #FFAAAC;
--theme-keyFG: #000000;
--theme-keyStrong: #F7868B;
--theme-keyLight: #FFD2D3;
--theme-g_key: #FFAAAC;
--theme-player: #5DBAFC;
--theme-playerFG: #000000;
--theme-playerLight: #9EDDFF;
--theme-subBrand: #FFC000;
--theme-subBrandFG: #000000;
--theme-alt1: #98B389;
--theme-alt2: #FAC16C;
--theme-alt3: #D298FF;
--theme-error: #FF3C3C;
--theme-fg: #ECECEC;
--theme-alwaysDark: #1B1D29;
--theme-alwaysLight: #FFFFFF;
--theme-g_bg: #374351;
--theme-g_bgAlt: #333D49;
--theme-g_bgDark: #2C2F33;
--theme-g_textDark: #F2F2F2;
--theme-g_textLight: #20180E;
--theme-g_blank: #000000;
--theme-g_unsolved: #747474;
--theme-g_outline: #646464;
--theme-a_bg: #141620;
--theme-a_bgAlt: #202433;
--theme-a_puzmo: #FFC000;
--theme-a_headerText: #A1BAD4;
--theme-a_table: #303246;
--theme-a_tableAlt: #393b52;
--theme-a_inlineTag: #ECECEC;
--theme-a_anchor: #1F97EE;
--theme-a_infoBG: #282C3A;
}