:root {
--theme-name: Submersible;
--theme-type: dark;
--theme-key: #CD6DC6;
--theme-keyFG: #031698;
--theme-keyStrong: #FF7ABC;
--theme-keyLight: #B467CB;
--theme-g_key: #CD6DC6;
--theme-subBrand: #FFC000;
--theme-subBrandFG: #000000;
--theme-player: #4AB1D1;
--theme-playerFG: #071D47;
--theme-playerLight: #3C99D7;
--theme-alt1: #8BA964;
--theme-alt2: #C69A58;
--theme-alt3: #7644B5;
--theme-fg: #FFEBFF;
--theme-error: #FF3C3C;
--theme-alwaysDark: #031698;
--theme-alwaysLight: #FFEBFF;
--theme-g_bg: #043BED;
--theme-g_bgAlt: #0A31CC;
--theme-g_bgDark: #0E2DA8;
--theme-g_textDark: #031698;
--theme-g_textLight: #FFEBFF;
--theme-g_blank: #031698;
--theme-g_unsolved: #3662F1;
--theme-g_outline: #031698;
--theme-a_bg: #043BED;
--theme-a_bgAlt: #0A31CC;
--theme-a_puzmo: #FFC000;
--theme-a_headerText: #FFEBFF;
--theme-a_table: #043BED;
--theme-a_tableAlt: #0A31CC;
--theme-a_inlineTag: #FF7ABC;
--theme-a_anchor: #FF7ABC;
--theme-a_infoBG: #0A31CC;
}